<div class="nft">
  <div class="nft--header">
    <div class="nft--header--field">
      <label for="input">Adicionar NFT</label>
      <div class="nft--header--field--input">
        <input id="input" type="text" #input placeholder="http://linkdametadata...">
        <button class="upload-button" (click)="uploadNft(input.value)">
          <img src="assets/imgs/upload.png" alt="">
        </button>
      </div>
    </div>
    <button (click)="connectWallet()">{{!!address ? 'Carteira conectada' : 'Conectar carteira'}}</button>
  </div>
  <div class="nft--body">
    <div *ngFor="let item of list" class="card">
      <img [src]="item.url" alt="">
      <div class="card--info">
        {{item.ownerOf}}
      </div>
    </div>
  </div>
</div>